@media (min-width: 1200px) {
    .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 100vw !important;
        /* max-width: 1140px; */
        padding-left: 16px;
        padding-right: 16px;
    }
}


