@media (min-width: 1200px) {
    .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 100vw !important;
        /* max-width: 1140px; */
        padding-left: 16px;
        padding-right: 16px;
    }
}

/* Highlight report row on hover - GLOBAL */
/* .dt-row:hover {
    background-color: #f0f7ff !important;
    cursor: pointer;
} */



/* Highlight query report row on hover */
.dt-scrollable .dt-row:hover {
    background-color: #f0f7ff !important;
}

/* Optional: cursor only for data rows */
.dt-scrollable .dt-row:hover .dt-cell__content {
    cursor: pointer;
}
